@using xChanger.MVC.Models.Foundations.Applicants;
@model IQueryable<ExternalApplicantModel>

    @{
        ViewData["Title"] = "ShowData";
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">GroupName</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{

                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.GroupName</td>
                        <td>
                            <a asp-route-studentId="@item.Id" asp-action="EditStudent" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>

                        <td>
                            <a asp-route-id="@item.Id" asp-action="DeleteStudent" class="btn btn-danger" onclick="return DeleteInput()">
                                <i class="fa-solid fa-delete-left"></i>
                            </a>
                        </td>
                    </tr>

                    i++;
                }
            }
        </tbody>
    </table>

    <br />
    <a asp-action="Download" class="btn btn-primary">Download</a>
    @*    <script>
            function DeleteInput(){

             Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Student is Deleted',
          showConfirmButton: false,
          timer: 1000
        })
            }
            </script>*@
